[submodule "src/sllidar_ros2"]
	path = src/sllidar_ros2
    url = git@github.com:Slamtec/sllidar_ros2.git
    branch = main
[submodule "src/ugv_description"]
	path = src/ugv_description
	url = git@github.com:LI-DC-Long-Island-Deer-Chaser/ugv_description.git
	branch = main
[submodule "src/ugv_peripherals"]
	path = src/ugv_peripherals
	url = git@github.com:LI-DC-Long-Island-Deer-Chaser/ugv_peripherals.git
	branch = main
