[submodule "src/sllidar_ros2"]
	path = src/sllidar_ros2
    url = git@github.com:Slamtec/sllidar_ros2.git
    branch = main
[submodule "src/serial_controller"]
	path = src/serial_controller
    url = git@github.com:LI-DC-Long-Island-Deer-Chaser/serial_controller.git
    branch = main
[submodule "src/Deterrent-System"]
	path = src/Deterrent-System
	url = git@github.com:LI-DC-Long-Island-Deer-Chaser/Deterrent-System.git
[submodule "src/speaker_controller"]
	path = src/speaker_controller
	url = git@github.com:LI-DC-Long-Island-Deer-Chaser/speaker_controller.git
[submodule "src/ugv_description"]
	path = src/ugv_description
	url = git@github.com:LI-DC-Long-Island-Deer-Chaser/ugv_description.git
